.nav-bar {
    background-color: #333;
    overflow: hidden;
}
.nav-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav-bar a:hover {
    background-color: #ddd;
    color: black;
}
.nav-bar a.active {
    background-color: #54C6FE;
    color: white;
}
